#menu_button {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
}
#menu {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}
#menu, #menu_background {
    position: fixed;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 100vh;
}
#menu_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    background-color: #333E;
    margin: auto;
    width: calc(100vw - 80px);
    height: calc(100svh - 80px);
    border-radius: 8px;

    box-shadow: 0px 0px 50px black;
}

#menu_content > a {
    font-weight: bold;
    font-size: 3em;
    margin: 10px 0 10px 0;

    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}